* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
  background: #464D59;
  border-radius: 5px;
  height: 80px;
}

.wrapper {
  max-width: 1200px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  
}

