<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodPlace - CADASTRE-SE</title>
    <link href="{{ url_for('static', filename='css/cadastrar.css') }}" rel="stylesheet">

</head>
<body>

    <div class="container"><a href="index" style="color: #FFFFFF; text-decoration: none;">← VOLTAR</a></div>

    <div class="campos">
 
        <form action="#">
    
          <label style='width: 400px; height: 60px; left: 440px; top: 200px;' for="email">NOME DE USUÁRIO</label><br><br><br>
          <input style='width: 400px; height: 60px; left: 440px; top: 200px;' type="text" id="email" name="email"><br><br><br>
          
          <label style='width: 400px; height: 60px; left: 440px; top: 200px;' for="email">EMAIL</label><br><br><br>
          <input style='width: 400px; height: 60px; left: 440px; top: 200px;' type="text" id="email" name="email"><br><br><br>

          <label style='width: 400px; height: 60px; left: 440px; top: 200px;' for="lname">SENHA</label><br><br><br>
          <input style='width: 400px; height: 60px; left: 440px; top: 200px;' type="text" id="password" name="password"><br><br><br>
          
          <label style='width: 400px; height: 60px; left: 440px; top: 200px;' for="email">CONFIRMAR SENHA</label><br><br><br>
          <input style='width: 400px; height: 60px; left: 440px; top: 200px;' type="text" id="email" name="email"><br><br><br><br><br>

          <input style='width: 200px; height: 60px; left: 540px; top: 500px; font-family: Red Hat Text; font-size: 18px; color: #ffffff; background-color: #0064AD;' type="submit" value="ENTRAR">

        </form>
        
    </div>
    
</body>
</html>
