<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoodPlace - INDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
</head>
<body>

    <div class="nav-container">
        <div class="wrapper">
          <nav>
            <div class="logo">
                Good Place
            </div>
            
            <div class="after-logo">
                <img src="static/images/finin.png">
            </div>

            <div class="frase">
                Um lugar para se fazer o bem
            </div>

            <ul class="nav-itemstwo">
                <li>
                    <a href="cadastrar" style="color: #FFFFFF; text-decoration: none;">CRIAR CONTA</a>
                </li>
    
                <li>
                    <a href="login" style="color: #FFFFFF; text-decoration: none;">INICIAR SESSÃO</a>
                </li>
            </ul>
          </nav>
        </div>
      </div>
  
      <div class="header-container">
        <div class="wrapper">
          <header>
  
            <div class="hero-image">
              <img src="static/images/pessoas.png" alt="" />
              <div class="photo-bg"></div>
            </div>

            <div class="hero-content">
                <p>
                  O lugar certo para se fazer o certo! A GoodPlace é <br>uma comunidade onde os membros se ajudam a troco <br>de nada de forma totalmente gratuita. Venha fazer <br>parte!
                </p>
              </div>

          </header>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
